!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
%html.no-js
  <!--<![endif]-->
  %head
    %meta{ :charset => "utf-8" }

    /

      *************************************************************


      Greetings, my source viewing friend. The code is open-source,
      MIT Licensed, and available at
      http://github.com/philoye/paris-picture-school


      *************************************************************

    -#
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }

    %title
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }

    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :content => "width=device-width, initial-scale=1.0", :name => "viewport" }

    -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    -# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
    -# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/

    -# CSS: implied media="all"
    %link{ :href => "stylesheets/style.css", :media => "all", :rel => "stylesheet" }

    -# All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects
    %script{ :src => "js/modernizr.min.js" }

  %body{ :lang => "en" }
    #outer-container
      #images
        %img.snap#snap1{:src => 'images/paris-1.jpg'}
        %img.snap#snap2{:src => 'images/tour-8.jpg'}
        %img.snap#snap3{:src => 'images/paris-3.jpg'}
        %img.snap#snap5{:src => 'images/paris-5.jpg'}
        %img.snap#snap4{:src => 'images/paris-4.jpg'}
        %img.snap#snap6{:src => 'images/paris-6.jpg'}
        %img.snap#snap7{:src => 'images/tour-5.jpg'}
        %img.snap#snap8{:src => 'images/tour-2.jpg'}
        %img.snap#snap9{:src => 'images/paris-11.jpg'}
        %img.snap#snap10{:src => 'images/paris-2.jpg'}
        %img.snap#snap11{:src => 'images/tour-3.jpg'}

      #container
        %header#siteheader
          %hgroup
            %h1 the Paris Picture School
            %h2 Learn how to take better photos in Paris
        %section#intro
          %p Have fun discovering the magic of light <span class="amp">&amp;</span> composition in the city of light.
          %p With each tour having a different movie theme and a actor supplied playing the main part, you will photograph the ancient palaces <span class="amp">&amp;</span> buildings, beautiful gardens <span class="amp">&amp;</span> hidden laneways of Paris as seen in the movies.
          %p The small group (maximum 4 students) guarantees the individual attention that will transform the way you use your camera and enable you to simply take better photos.
          %p Wind your way through the famous quartiers of Paris with a local French actor/model whilst being shown all the secrets to taking great pictures by professional photographer <a href="http://laurafriezer.com/">Laura Friezer</a> who has photographed everyone from Bill Clinton to Morgan Freeman and everyone in between.
          %p Take your time to enjoy Paris in all its splendour before sitting down with your guides and fellow students in a Parisian restaurant to relax, review and discuss your photos over a classic French lunch.
          %p The best pictures of the day will be published on our <a href="http://www.facebook.com/pages/Paris-Picture-School/122633637814287">Facebook page</a>.

        %section#courselist
          %header
            %h1 Available courses

          %section.course
            %header
              %h2 The “Amélie” Montmartre Photography Study Tour
              %h3 Learn how to take better photos in Paris with Amelie
              %img{:src => 'images/amelie.jpg', :width => '150', :height => '150', :title => "Amelie Poster"}
              .cost €120 per person, includes lunch (max 4 per class)

            :markdown
              * Abbesses/Sacre Coeur/Rue Lepic – 18th Arrondissement Paris
              * Starting at the metro Absesses in the 18th arrondissement you will be delighted as you follow our Amelie (french actress Celine Groussard) around her neighbourhood.
              * Have fun capturing the moment as you wind your way slowly up to Sacre Coeur.
              * Descending back into the tangled streets of Montmartre we will end the study tour in Amelie’s restaurant “Les Deux Moulins” on the famous rue Lepic.
              * Sitting down to review and discuss your photos over a delicious lunch.
              * The best pictures of the day will be published on the Paris Picture School Facebook site.

          %section.course
            %header
              %h2 Breathless in Paris
              %h3 Go on a wild crazy ride in black <span class="amp">&amp;</span> white
              %img{:src => 'images/breathless.jpg', :width => '150', :height => '150', :title => "Breathless"}
              .cost €120 per person, includes dinner (max 4 per class)

            :markdown
              *  Arc de Triomphe/Champs Elysees/local cafés <span class="amp">&amp;</span> bars 8th arrondissement Paris
              *  We’ll meet in the shadow of the Arc de Triomphe on the Champs Elysees as Michel (our hero) emerges  blinking into the early evening parisian light.
              *  We follow Michel as he leads us on a merry dance avoiding the police trying to get the girl <span class="amp">&amp;</span> the money.
              *  Smoking, drinking, hats <span class="amp">&amp;</span> sharp suits are encouraged.
              *  All pictures will be shot or converted into Black <span class="amp">&amp;</span> White.
              *  We end the wild crazy ride in a bar eating, drinking, looking <span class="amp">&amp;</span> discussing our amazing pictures.
              *  The best pictures of the day will be published on the Paris Picture School Facebook site.

          %section.course
            %header
              %h2 The “Da Vinci Code” Louvre Photography Study Tour
              %h3 Crack the code to taking better photos
              %img{:src => 'images/davincicode.jpg', :width => '150', :height => '150', :title => "Da Vinci Code"}
              .cost €120 per person, includes lunch (max 4 per class)

            :markdown
              * Palais Royal/Louvre/Tuilerie Gardens 1st arrondissement Paris
              * Starting at the Palais Royal near the Louvre Museum we will follow Tom slowly through to the famous Louvre Pyramid, strolling through to the sumptuous Tuilerie gardens
              * We will end the study tour in a restaurant hidden in a cave down a Paris laneway to review and discuss your photos over a delicious 3-course lunch.
              * The best pictures of the day will be published on the Paris Picture School Facebook site.

        %section#upcoming
          %header
            %h1 Upcoming classes
          %table#eventlist
          %script#event-template{:type=>"text/x-jquery-template"}
            %tr
              %td.date
                %strong ${date}
                %span ${start}—${end}
              %td.course
                %strong ${name}
                ${location}
              %td.action
                :plain
                  {{if typeof(sold_out) != "undefined" && sold_out === false}}
                    <a class="awesome" href="${link}">Register</a>
                  {{else}}
                    <span class="awesome soldout">Sold Out</span>
                  {{/if}}
          .nojs It appears you don't have javascript enabled, why not turn it on and reload? Otherwise, contact <a href="http://laurafriezer.com/about">Laura</a> for event details.

        %section#bio
          %header
            %h1 Your instructor
          %img{:src => 'images/laura-friezer.jpg', :width => '150', :height => '150', :title => "Laura Friezer"}
          :markdown
            Laura Friezer graduated from Sydney College of the Arts (Sydney University) with a Bachelor of Visual Arts in 1994.

            She has worked as a photographer for Australian Associated Press, The Sydney Morning Herald, The Sun Herald and The Age. Her work has appeared in various publications all over the world. She has photographed many well-known figures for the media from Bill Clinton to Morgan Freeman and Marcel Marceau as well as various comissions in the corporate , fashion and advertising world. She is now based in Paris, France.

        %footer
          %ul
            %li
              %a{:href=>"http://www.facebook.com/pages/Paris-Picture-School/122633637814287"} Find us on Facebook
            %li
              :javascript
                //<![CDATA[
                <!--
                var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
                "x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
                " r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!84{)rt{y+xx=l;=+;" +
                "lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
                "\"(0)\\\\,0\\\"2:%!d8?+noPc17\\\\01\\\\03\\\\\\\\01\\\\07\\\\03\\\\\\\\20\\" +
                "\\0n\\\\\\\\\\\\21\\\\07\\\\02\\\\\\\\07\\\\01\\\\00\\\\\\\\22\\\\06\\\\03\\"+
                "\\\\\\1102\\\\\\\\35\\\\03\\\\03\\\\\\\\14\\\\00\\\\00\\\\\\\\HUJ5[;00\\\\0" +
                "0\\\\01\\\\\\\\27\\\\03\\\\01\\\\\\\\25\\\\0@\\\\2}00\\\\\\\\.$/26(22\\\\0v" +
                "\\\\;9:<3200\\\\\\\\+o9?)?0 03\\\\\\\\5g6,\\\"\\\\\\\\\\\\22\\\\0|\\\\\\\\4" +
                "\\\\\\\\[\\\\^WIN06\\\\0U\\\\UX33\\\\0F\\\\HVYTH]^LK^hETFEP0O03\\\\\\\\TNws" +
                "q|F9~$dr4}.r83baxhxb&~hsi`avdn\\\"\\\\f(;} ornture;}))++(y)^(iAtdeCoarchx.e" +
                "(odrChamCro.fngriSt+=;o27=1y%){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\"" +
                ",o iar{vy)x,f(n ioctun\\\"f)\")"                                             ;
                while(x=eval(x));
                //-->
                //]]>
            %li
              +33 6 58 28 84 09

    -#
      Javascript at the bottom for fast page loading
      Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary
    %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
    :javascript
      !window.jQuery && document.write(unescape('%3Cscript src="js/jquery.min.js"%3E%3C/script%3E'))
    %script{ :src => "/js/jquery.tmpl.min.js" }
    %script{ :src => "/js/script.js" }

    -#  asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet
    -#  change the UA-XXXXX-X to be your site's ID
    :javascript
      var _gaq=[['_setAccount','#{ENV['PARISPICTURESCHOOL_ANALYTICS']}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));



